/*!
Theme Name: Shoppes at Belmont by Waters Retail Group
Author: Liquified Creative
Version: 1.0
*/

//<editor-fold desc="COLORS/THEME">
$color-primary: #1C3958;
$color-secondary: #F0C45F;
$color-tertiary: #36B9FF;
$color-neutral: #222;
$color-neutral-light: #EFEFEF;

$color-bg-blocks: #193C63;
$color-bg: #ffffff;
$color-bg-alt: #193C63;

$color-borders: #C9CED5;
$color-hr: #707070;

$color-text-body: $color-primary;
$color-text-body-inverse: $color-neutral-light;
$color-text-headers: #3C5C83;
$color-text-headers-alt: $color-neutral;

$color-links: #36B9FF;
$color-links-hover: darken($color-links, 20%);
$color-links-visited: $color-links;
$color-links-active: $color-links;

$color-btn: #ffffff;
$color-btn-bg: $color-tertiary;
$color-btn-hover: #ffffff;
$color-btn-hover-bg: darken($color-btn-bg, 10%);

$color-success: #00674A;
$color-warning: #f89240;
$color-danger: #f84040;

$size-max-container-width: 1280px;
//</editor-fold>

//<editor-fold desc="FONTS">
$font-body: "Open Sans", Arial, sans-serif;
$font-headers: "Volkhov", serif;
$font-btn: "Volkhov", serif;
$font-headers-alt: "Open Sans", Arial, sans-serif;
//</editor-fold>

//<editor-fold desc="LIBRARIES">
@import 'bootstrap/bootstrap';
@import "fa/fontawesome";
@import "fa/solid";
@import "fa/regular";
@import "fa/light";
@import "fa/brands";
@import 'https://fonts.googleapis.com/css?family=Lora:400,700';
//</editor-fold>

//<editor-fold desc="EXTENSIONS">
%arrow-after {
  &::after { //
    content: " \bb";
    font-weight: normal;
    font-size: 1.6rem;
  }
}

%primary-hr {
  border-bottom: 7px solid $color-hr;
}

//</editor-fold>

//<editor-fold desc="MIXINS">
@mixin cta-hover {
  background-color: $color-primary;
  color: #fff;
  height: 40rem;

  border-top: 0.3rem solid $color-links-alt;

  .thumbnail, .content {
    display: block;
  }

  .thumbnail {
    opacity: 0.5;
  }

  .title, .content, .learn-more {
    opacity: 1;
  }
}

@mixin slidecover($direction: "right", $color: rgba($color-secondary, .7)) {
  overflow: hidden;

  &::before {
    z-index: 10;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color;
    width: 120%;

    @if $direction == "up" {
      transform: translateY(100%);
    } @else if $direction == "left" {
      transform: translateX(-100%);
    } @else if $direction == "down" {
      transform: translateY(-100%);
    } @else {
      transform: translateX(-100%);
    }

    transition: transform .3s ease 0s;
  }

  &:hover {
    &::before {
      @if $direction == "up" or $direction == "down" {
        transform: translateY(0);
      } @else {
        transform: translateX(0);
      }
    }

    .grid-item--more {
      opacity: 1;
    }
  }
}

@mixin bgcolor( $color, $opacity : 1 ) {
  background-color: $color;
  background-color: rgba($color, $opacity);
}

//</editor-fold>

//<editor-fold desc="BASIC HTML">
body, html {
  font-size: 16px;
  font-family: $font-body;
  color: $color-text-body;
  font-weight: 400;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.container, .container-fluid {
  max-width: $size-max-container-width;
}

p, ul, ol, li {
  font-size: 1rem;
}

a, a:visited {
  color: $color-links;

  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -ms-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;

  &:hover {
    color: $color-links-hover;
  }
}

h1, h2, h3, h4, h5, h6, .headline {
  font-family: $font-headers;
  font-weight: 700;
  color: $color-text-headers;
  font-size: 1rem;

  text-transform: uppercase;

  strong, .alt, & .headline--alt {
    font-family: $font-headers-alt;
    font-weight: 300;
    color: $color-text-headers-alt;
  }
}

h2, h4, h6 {
  color: $color-tertiary;

  strong, .alt, & .headline--alt {
    color: $color-primary;
  }

  & .headline--co {
    color: $color-primary;
  }
}

h1 {
  &, &.headline {
    font-size: 3rem;
  }
}

h2 {
  &, &.headline {
    font-size: 2.6rem;
  }
}

h3 {
  &, &.headline {
    font-size: 2.2rem;
  }
}

h4 {
  &, &.headline {
    font-size: 1.8rem;
  }
}

h5 {
  &, &.headline {
    font-size: 1.4rem;
  }
}

.btn, button, .button, .gform_button, a.btn, .btn-primary, input[type="subject"], input[type="button"] {
  border-radius: 0;
  border: 0;
  color: $color-btn;
  background: $color-btn-bg;

  font-family: $font-btn;
  font-weight: 400;

  cursor: pointer;

  padding: 16px 24px;

  text-transform: uppercase;

  &:hover {
    color: $color-btn-hover;
    background: $color-btn-hover-bg;
  }

  &:focus, &:active {
    outline: 0;
    border: 0;
    color: $color-btn;
    background-color: $color-btn-hover-bg;
  }
}

//</editor-fold>

//<editor-fold desc="SITE-WIDE STRUCTURE">
.container-fluid {
  max-width: 1296px;
  padding-left: 10px;
  padding-right: 10px;


  @include media-breakpoint-up(sm) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

//</editor-fold>

//<editor-fold desc="HEADER">
.utility {
  background: #EFEFEF;
  padding: 0 16px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-content: stretch;

  &__menu, &__social {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: flex-start;
    align-content: stretch;

    a {
      padding: 5px;
    }
  }

  &__social {
    margin-left: 10px;
  }

  &__menu-container {
    display: flex;
    justify-content: end;
    align-items: stretch;
  }

  &__menu {
    align-items: center;

    .menu-item {
      list-style: none;
      font-size: 0.8rem;

      &::after {
        content: "|";
      }

      &:last-child::after {
        content: "";
      }

      a {
        color: $color-primary;

        &:hover {
          color: lighten($color-primary, 20%);
        }
      }
    }
  }

  &--mobile {
    background: transparent;
    justify-content: center;
    flex-wrap: wrap;
  }

  &--mobile &__menu, &--mobile &__social {
    width: 100%;
    justify-content: center;
    align-items: center;

    margin: 0 0 20px 0;
  }

  &--mobile &__menu {
    margin-top: 10px;
    text-align: center;

    .menu-item {
      &, a {
        color: #fff;
      }
    }
  }

  &--mobile &__social {
    .nav-item {
      margin: 0 5px;

      &__link {
        color: $color-secondary;
        border-color: $color-secondary;

        &:hover {
          color: $color-neutral-light;
          border-color: $color-neutral-light;
        }
      }
    }
  }
}

.social-menu {
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: flex-start;
  align-content: stretch;

  a {
    padding: 5px;
  }

  .nav-item {
    display: block; //
    text-transform: uppercase;

    &__link {
      display: block;
      color: $color-primary;

      border: 1px solid $color-primary;
      border-radius: 100%;

      padding: 0;
      margin: 5px 2px;

      min-width: 26px;
      text-align: center;

      -webkit-transition: border-color 0.5s;
      -moz-transition: border-color 0.5s;
      -ms-transition: border-color 0.5s;
      -o-transition: border-color 0.5s;
      transition: border-color 0.5s;

      &:hover {
        color: lighten($color-primary, 20%);
        border-color: lighten($color-primary, 20%);
      }
    }

    &__icon {
      cursor: pointer;
      padding: 5px;
      margin: 0 2px;
    }

    &__label {
      letter-spacing: -1px;
      font-size: 0.9rem;
      display: none;

      @include media-breakpoint-up(md) {
        display: inline-block;
      }
    }
  }
}

.search {
  a[role='button'] {
    text-align: right;
    display: block;
  }
}

#header {
  position: fixed;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 10000;

  background: $color-primary;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.navbar {
  align-items: stretch;

  &-nav {
    @include media-breakpoint-up(lg) {
      height: 100%;
    }
  }

  &-brand {
    width: 30%;

    padding: 10px 0;

    position: relative;
    display: -ms-grid;
    display: grid;
    align-items: center;

    .logo {
      min-width: 100px;
      width: 100%;
      height: auto;

      &__image {
        width: 100%;
        height: auto;
      }

      &--vector svg, &--vector > * {
        width: 100%;
        height: auto;
      }
    }

    @include media-breakpoint-up(md) {
      width: 20%;
    }

    @include media-breakpoint-up(lg) {
      width: 15%;
    }


    @include media-breakpoint-up(xl) {
      width: 10%;
    }
  }
}

.search-box {
  z-index: 69000;
  padding: 10px 0 5px 0;
  position: fixed;
  top: 0;
  left: 0;

  flex: 1 1 100%;

  width: 100%;
  height: 100%;

  background: rgba(40, 40, 40, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  &__close {
    cursor: pointer;

    padding: 20px;

    position: absolute;

    top: 20px;
    right: 20px;

    &::before {
      color: rgba(255, 255, 255, 0.5);
      content: "\f410";
      font-family: "Font Awesome 5 Pro";
      font-weight: 100;
      font-size: 2rem;
    }

    &:hover {
      &::before {
        color: #fff;
      }
    }
  }

  &__form {
    .btn {
      padding: 7px 16px;
    }
  }
}

.form-control {
  border-radius: 0;
  border: 0;
  height: 2.25rem;
}

#main-navigation {

  .menu-main-nav-container {
    width: 100%;

    .navbar-nav {
      width: 100%;

      @include media-breakpoint-up(lg) {
        justify-content: flex-end;
      }
    }

    @include media-breakpoint-up(lg) {
      height: 100%;
    }
  }

  .navbar {
    padding: 9px 9px;

    @include media-breakpoint-up(lg) {
      padding: 9px 32px;
    }

    @include media-breakpoint-up(xl) {
      padding: 9px 64px;
    }

    &-tools {
      display: flex;
      justify-content: center;
      align-items: stretch;

      .nav-link i::before {
        line-height: 1.5;
      }
    }
  }


  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    display: block;
    padding: 20px 15px;

    color: $color-secondary;
    font-family: $font-headers;
    font-weight: 700;
    text-shadow: none;

    text-transform: uppercase;
    text-align: center;

    width: 100%;

    &, &:hover {
      text-decoration: none;
      text-shadow: none;
    }

    &:hover, .current-menu-item & {
      color: $color-tertiary;
    }

    @include media-breakpoint-up(lg) {
      width: auto;
    }

    @include media-breakpoint-up(xl) {
      padding: 20px 25px;
    }
  }

  .dropdown-menu {
    background-color: #fff;
    border-radius: 0;

    border: 1px solid $color-borders;

    padding: 5px 15px;

    .dropdown-item {
      color: #7C7C7C;
      border-bottom: 2px solid #fff;
      padding: 8px 10px;
      text-decoration: none;

      &:hover, .current-menu-item & {
        color: #7C7C7C;
        border-color: $color-primary;
        background: transparent;
        text-decoration: none;
      }
    }

    @include media-breakpoint-down(lg) {
      .dark:not(.scrolled) & {
        background: transparent;
        border: 0;

        .dropdown-item {
          color: #eee;
          border: 0;

          &:hover {
            color: lighten($color-primary, 20%);
          }
        }
      }
    }
  }

  .navbar-toggler {
    border-radius: 0;
    margin: 0 0 0 1rem;

    margin-left: auto;

    -webkit-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -ms-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;

    &, &:focus, &:visited, &:active {
      color: #fff;
      background: $color-primary;
      border: 0;
    }

    .navbar-toggler-icon {
      color: #fff;
      background-image: none;

      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: "\f0c9";
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        font-size: 2rem;
        color: #fff;
      }
    }

    &:hover {
      border: 0;

      .navbar-toggler-icon::before {
        color: $color-secondary;
        border: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      margin: 0;
    }
  }
}

//</editor-fold>

//<editor-fold desc="HERO">
.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &, .container, .container-fluid {
    min-height: 500px;
    position: relative;
  }

  body:not(.home) & {
    &, .container, .container-fluid {
      min-height: 300px;
      position: relative;
    }
  }

  &--full-height {
    min-height: 60vh;

    .container-fluid {
      height: 60vh;
    }

    @include media-breakpoint-up(lg) {
      min-height: 100vh;

      .container-fluid {
        height: 100vh;
      }
    }
  }

  &--video {
    overflow: hidden;

    &, .container, .container-fluid {
      height: 66.667vh;
    }
  }

  &__video-overlay {
    position: absolute;
    z-index: 0;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -33%);

    //width: 100%;
    //height: 56.25%;

    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh;
  }

  &__images {
    position: absolute !important;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
    width: 100vw;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__logo {
    z-index: 150;
    position: absolute;
    top: 33%;
    left: 50%;

    width: 80%;

    transform: translate(-50%, -33%);

    img {
      width: 100%;
      height: auto;
    }

    @include media-breakpoint-up(sm) {
      width: 60%
    }

    @include media-breakpoint-up(lg) {
      width: 45%;
    }
  }

  &__text {
    z-index: 20;

    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;

    padding: 0 20px;

    body:not(.home) & {
      bottom: 20%;

      padding-left: 40px;
      text-indent: -40px;

      font-weight: 300;

      .first {
        display: block;
      }

      @include media-breakpoint-up(lg) {
        bottom: 20%;
        transform: none;
        top: auto;
      }
    }

    &, p {
      text-align: center;
      color: #fff;
      line-height: 1;
      font-size: 2rem;

      font-weight: 100;

      text-shadow: 2px 2px 1px $color-secondary;

      text-transform: lowercase;
    }

    em {
      font-style: normal;
      font-weight: 400;
    }

    strong {
      display: block;
      font-family: $font-headers-alt;
      font-size: 2.5rem;
      letter-spacing: 0.3rem;
      color: $color-neutral-light;

      margin: 0 0 20px 0;
    }

    @include media-breakpoint-up(sm) {
      &, p {
        font-size: 2.5rem;
      }
      strong {
        font-size: 3rem;
      }
    }

    @include media-breakpoint-up(lg) {
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 70%;

      &, p {
        font-size: 2.6rem;
        line-height: 1.1;
      }

      strong {
        font-size: 3.5rem;
      }
    }
  }

  &__advance {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateY(-50%);

    width: 50px;
    height: 50px;

    i {
      line-height: 50px;
    }

    border-radius: 100%;
    border: 1px solid #fff;

    text-align: center;
    color: #fff;

    cursor: pointer;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    z-index: 5;

    overflow: hidden;

    svg {
      position: absolute;
      top: -15%;
      right: 1%;

      height: 130%;
      width: auto;
    }

    &.left {
      svg {
        right: auto;
        left: 1%;
      }
    }

    &.off {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 150;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(50, 50, 50, 0.2);
  }
}

//</editor-fold>

.content {
  padding: 20px 0;

  .home & {
    padding: 40px 0;
  }

  &__header {
    padding: 20px 0 0 0;
    background: $color-primary;
    color: #fff;

    &--no-nav {
      padding: 20px 0;
    }

    .nav {
      &__map-link {
        &, &.btn {
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          font-weight: 700;
          font-family: $font-body;

          margin-top: 20px;
          margin-left: auto;

          width: 100%;

          padding: 16px 24px;


          @include media-breakpoint-up(md) {
            margin-top: 0;
            width: auto;
          }
        }
      }

      &__return {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        color: $color-secondary;
        text-transform: uppercase;
        font-weight: 700;

        &:hover {
          color: $color-neutral-light;
        }
      }

    }
  }

  &__title {
    color: #fff;
    margin: 0;
    line-height: 1;
    font-size: 1.3rem;

    .alt {
      color: $color-secondary;
    }

    body.single & {
      font-family: $font-body;
      color: $color-secondary;
      font-weight: 300;
    }

    @include media-breakpoint-up(sm) {
      font-size: 1.7rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 2.1rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 2.5rem;
    }
  }

  &__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
      flex-wrap: nowrap;
      align-items: stretch;
    }
  }
}

//<editor-fold desc="INTRODUCTION">
.intro {
  margin: 20px auto;
  padding: 0 60px;

  width: 80%;
  max-width: $size-max-container-width;
  box-sizing: border-box;

  text-align: center;

  @include media-breakpoint-up(lg) {
    width: 60%;
  }

  &__header-text {
    color: $color-primary;
    text-transform: capitalize;
    font-weight: 300;
  }

  @include media-breakpoint-up(lg) {
    width: 60%;
  }
}

//</editor-fold>

//<editor-fold desc="CONTENT-ROWS">
.content-row {

  padding-bottom: 60px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 30px;

    left: 35%;
    width: 30%;
    height: 1px;
    background-color: $color-primary;
  }

  &:last-child::before {
    display: none;
  }

  .items {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .item {
    padding: 20px 0;
    flex: 1 1 auto;

    &__graphic {
      min-height: 300px;

      &--image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: content-box;
      }
    }

    &__headline {
      text-transform: lowercase;
      color: $color-primary;
      font-weight: 100;

      .co {
        color: $color-neutral;
      }

    }
  }

  &--dark {
    background-color: $color-bg-blocks;

    &, .alt {
      font-family: $font-headers;
      font-weight: 200;
      color: #fff;
    }

    .item {
      &__headline {
        color: lighten($color-bg-blocks, 30%);
      }
    }

  }

  &--single {
    .item {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;

      &__graphic, &__content {
        flex: 1 1 100%;

        @include media-breakpoint-up(lg) {
          flex: 1 1 50%;
          padding: 0 80px;
        }
      }

      &__graphic {
        background-clip: content-box;
        padding: 20px 0;

        .item--right & {
          padding: 0 0 0 40px;
        }

        @include media-breakpoint-up(lg) {
          flex: 1 1 60%;
          padding: 0 40px 0 0;
          min-height: 400px;
        }
      }

      &__content {
        padding: 0 0 20px 0;

        @include media-breakpoint-up(lg) {
          flex: 1 1 40%;
          padding: 60px 0 60px 40px;
        }
      }

      &--right {
        flex-direction: row-reverse;

        & .item__content {
          @include media-breakpoint-up(lg) {
            padding: 60px 40px 60px 0;
          }
        }

        & .item__graphic {
          @include media-breakpoint-up(lg) {
            padding: 0 0 0 40px;
          }
        }
      }

      @include media-breakpoint-up(lg) {
        flex-wrap: nowrap;
      }
    }
  }

  &--multi {

    .items {
      flex-wrap: wrap;

      @include media-breakpoint-up(md) {
        flex-wrap: nowrap;
      }
    }

    .item {
      padding: 20px 10px;
      text-align: center;

      flex: 1 1 100%;

      @include media-breakpoint-up(md) {
        flex: auto;
      }

      &__graphic {
        padding: 60px;
        background-size: contain;
        background-clip: content-box;
        min-height: 300px;
      }

      &__headline {
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
  }
}

//</editor-fold>

//<editor-fold desc="NEWS CARDS">
.news {
  background: $color-secondary;

  &__headline {
    text-align: center;
    margin: 0 0 30px 0;

    body.home & {
      &, h2#{&}, h3#{&}, &.headline {
        &::after {
          background-color: $color-neutral-light;
        }
      }
    }
  }

  //

  &__read-more {

    a, .btn, .primary-btn {
      color: $color-neutral-light;
      background: transparent;

      &:hover {
        color: $color-primary;
        background: transparent;

        &::after {
          color: $color-neutral-light;
        }
      }

      &::after {
        color: $color-primary;
        content: "+";
        margin-left: 10px;

        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        -ms-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s;
      }
    }
  }
}

.news-items {
  display: flex;
  justify-content: center;
  align-items: stretch;

  flex-wrap: wrap;

  @include media-breakpoint-up(md) {
    //flex-wrap: nowrap;
  }
}

.news-item {
  position: relative;
  flex: 1 1 100%;
  margin: 0 10px 20px 10px;

  padding: 3px;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color-primary;

    .image__cover {
      transform: scale(1.2) rotateZ(2deg);
    }
  }

  @include media-breakpoint-up(md) {
    flex: 1 0 calc(50% - 20px);
  }

  &__image {
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

    margin: 0 !important;

    @include media-breakpoint-up(md) {
      padding-bottom: 50%;
    }
  }

  &__cover {
    z-index: 0;

    position: absolute;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
  }

  &__link {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: relative;
    padding: 20px 20px 40px 20px;
    background-color: #f4f4f4;
  }

  &__title {
    text-transform: uppercase;
    text-align: left;

    a {
      color: $color-primary;
    }
  }

  &__date {
    text-align: center;
    font-size: 1.2rem;

    margin: 10px 0;
    padding: 0;
  }

  &__excerpt {
    font-size: 0.9rem;
  }

  &__read-more {
    position: absolute;
    bottom: 10px;
    right: 20px;

    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__read-more-link {
    color: $color-tertiary;
    padding: 12px 8px;
    width: 100%;
    display: block;
    box-sizing: border-box;

    font-weight: 700;

    text-transform: uppercase;

    &::after {
      margin-left: 10px;
      content: "+";
      color: $color-primary;
    }

    &:hover {
      text-decoration: none;
    }

    .news-item:hover & {
      color: $color-primary;

      &::after {
        color: $color-tertiary;
      }
    }
  }
}

//</editor-fold>

.home-footer {
  position: relative;
  background-color: $color-primary;

  padding-bottom: 400px;
  overflow: hidden;

  &__header {
    z-index: 25;
    position: relative;
    padding: 0 40px 20px 40px;

    &::before {
      content: "";
      position: absolute;
      background-color: $color-secondary;
      width: 108%;
      left: -4%;
      bottom: 0;
      height: 100%;

      border-radius: 0 0 50% 50%;

      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    }
  }

  &__title, &__subtitle {
    position: relative;
    text-align: center;
  }

  &__image {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.35);
    }
  }
}

//<editor-fold desc="FOOTER">
.footer {
  padding: 20px 0 40px 0;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: stretch;

  a {
    &, &:active, &:focus, &:visited {
      color: $color-primary;
    }

    &:focus, &:hover {
      color: lighten($color-primary, 20%);
    }
  }

  &, a {
    font-size: 0.8rem;
  }

  &__wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0 30px 0 30px;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column-reverse;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

  }

  &__badge, &__details, &__social {
    flex: 0 1 100%;
    width: 100%;

    @include media-breakpoint-up(lg) {
      flex: 1 1 20%;
    }
  }

  &__details {
    text-align: center;

    @include media-breakpoint-up(lg) {
      flex: 1 1 60%;
    }
  }

  &__badge {
    justify-content: center;
    text-align: left;

    .widget {
      &__title {
        font-size: 0.7rem;
        color: #999;
        font-family: $font-body;
        text-transform: none;
        text-align: left;
        font-weight: 200;
      }
    }

    @include media-breakpoint-up(lg) {
      justify-content: flex-start;
    }
  }

  &__social {
    justify-content: center;

    &, a {
      font-size: 1rem;
    }

    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__divider {
    font-size: .8rem;
    margin: 0 5px;

    &::after {
      content: "|";
    }
  }

  &__contact {
    margin: 0 0 5px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .contact {
      &__address, &__phone {
        color: $color-primary;
        font-size: 0.9rem;
        font-weight: 400;

        display: inline-block;
      }
    }
  }

  &__site-details {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    margin: 0 0 10px 0;

    .menu, .menu-item {
      list-style: none;
      padding: 0;
      margin: 0;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .menu-item {

      &:last-child .footer__divider {
        display: none;
      }
    }
  }

}

//</editor-fold>

.news {
  padding: 40px 0;
}

//<editor-fold desc="PARTNERS">
.partners {
  position: relative;
  border-width: 1px 0;
  border-style: solid;
  border-color: $color-primary;

  padding: 30px;

  body:not(.home) & {
    border-width: 0;
  }

  body:not(.home) &::before {
    content: "";
    width: 30%;
    height: 1px;
    left: 35%;
    top: 0;
    position: absolute;

    background-color: $color-primary;
  }

  &__headline {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    margin: 10px 40px;
  }

  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
  }
}

.partner {
  flex: 1 1 33%;
  box-sizing: border-box;

  @include media-breakpoint-up(md) {
    flex: 1 1;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    padding: 10px 20px;

    width: 100%;
    height: 100%;
  }

  &__logo {
    max-width: 100%;
    height: auto;
  }
}

//</editor-fold>

//<editor-fold desc="CONNECT">
.connect {
  background-color: #EFEFEF;

  &__header {
    position: relative;
    text-align: center;

    padding: 10px 20px;
    width: 100%;

    color: #fff;
    background-color: $color-primary;

    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;

    &:hover {
      background-color: darken($color-primary, 5%);

      .connect__headline::after {
        background-color: darken($color-secondary, 5%);
      }
    }
  }

  &--expanded &__header {
    background-color: $color-tertiary;

    &:hover {
      background-color: darken($color-tertiary, 5%);
    }
  }

  &__headline {
    position: relative;
    text-align: center;
    margin: 0 10px;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      display: inline-block;
      content: "\f067";

      font-family: "Font Awesome 5 Pro";

      font-weight: 700;
      font-size: 1.6rem;

      margin: 0 10px 0 20px;

      border-radius: 100%;

      background-color: $color-secondary;
      color: #fff;

      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }

  &__headline-wrapper {
    padding-left: 50px;
  }

  &--expanded &__headline {
    &::after {
      content: "\f068";
    }
  }

  &__cover-link {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__prompt {
    width: 80%;
    margin: 10px 10%;

    font-size: 0.8rem;

    @include media-breakpoint-up(md) {
      width: 60%;
      margin: 10px 20%;
    }
  }

  &__form {
    &::before, &::after {
      content: " ";
      clear: both;
      margin: 0;
      padding: 0;
      height: 1px;
      width: 100%;
    }
  }

  .form {
    &__container {
      padding: 20px 0;
    }
  }

  .gform_wrapper {
    margin: 0;

    ul li.gfield.hidden_label {
      margin-top: 0;

      .gfield_label {
        visibility: hidden;
      }

      .input {
        margin-top: 0;
      }
    }

    .gform_footer {
      text-align: right;
    }
  }
}

//</editor-fold>

//<editor-fold desc="CTAs">
.ctas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
  }
}

.cta {
  position: relative;
  flex: 0 1 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 220px;
  overflow: hidden;

  &__link, &__background {
    z-index: 20;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
  }

  &__background {
    z-index: 5;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transform: scale(1.4);

    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
  }

  &__name {
    &, h3#{&}, h4#{&} {
      font-size: 2.5rem;
      position: relative;
      z-index: 10;
      text-align: center;

      color: #fff;

      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    }
  }


  &:hover {
    &::before {
      background-color: rgba(50, 50, 50, 0.7);
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 7;

    background-color: rgba(50, 50, 50, 0.4);

    -webkit-transition: background-color 0.8s, -webkit-filter 0.8s;
    -moz-transition: background-color 0.8s, -moz-filter 0.8s;
    -ms-transition: background-color 0.8s, filter 0.8s;
    -o-transition: background-color 0.8s, filter 0.8s;
    transition: background-color 0.8s, filter 0.8s;
  }

  &:hover &__background { // TODO: hover animation
    transform: scale(1.6);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
  }

  &:hover &__name {
    color: $color-secondary;
  }

  @include media-breakpoint-up(lg) {
    width: auto;
    flex: 1 1;

    min-height: 300px;
  }
}

//</editor-fold>

//<editor-fold desc="STORE LISTING">
.stores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  &__header {
    position: relative;
    background-color: $color-primary;
    min-width: 40px;
    flex: 0 1 100%;
    width: 100%;

    margin: 10px 0;

    .text {
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      width: 100%;

      @include media-breakpoint-up(lg) {

        position: absolute;
        left: 50%;
        top: 50%;

        min-width: 200px;

        -webkit-transform: translate(-50%, -50%) rotate(-90deg);
        -moz-transform: translate(-50%, -50%) rotate(-90deg);
        -ms-transform: translate(-50%, -50%) rotate(-90deg);
        -o-transform: translate(-50%, -50%) rotate(-90deg);
        transform: translate(-50%, -50%) rotate(-90deg);

      }
    }


    @include media-breakpoint-up(lg) {
      flex: 1 1 auto;
      width: auto;
    }

  }

  .store {
    box-sizing: border-box;
    padding: 24px 14px;
    position: relative;
    margin: 10px 0;

    flex: 0 1 33%;

    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 30;

      &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        z-index: 10;

        background-color: rgba($color-tertiary, 0);

        -webkit-transition: background-color 0.8s, -webkit-filter 0.8s;
        -moz-transition: background-color 0.8s, -moz-filter 0.8s;
        -ms-transition: background-color 0.8s, filter 0.8s;
        -o-transition: background-color 0.8s, filter 0.8s;
        transition: background-color 0.8s, filter 0.8s;
      }

      &::after {
        top: auto;
        bottom: 0;
      }

      &:hover::before, &:hover::after {
        background-color: rgba($color-tertiary, 1);
      }
    }

    &__name {
      font-size: 1rem;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);

      z-index: 20;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);

      text-align: center;

      opacity: 0;

      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -ms-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;
    }

    &__logo {
      width: 94%;
      height: auto;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 1px;

      background-color: #ccc;

      body.home & {
        display: none;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 20px;
      top: 20px;
      right: 0;
      width: 1px;

      background-color: #ccc;
    }

    &:nth-child(3n)::before {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    &:nth-child(5n)::before {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    @include media-breakpoint-up(lg) {
      flex: 0 1 20%;
    }
  }

  &--featured {
    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
    }

    .store {
      &:nth-child(3n)::before {
        display: block;

        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      &:nth-child(3n+1)::before {
        display: none;

        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      &:nth-child(5n)::before {
        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      &:last-child::before {
        display: none;
      }

      &--view-more {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .store__link {
          font-weight: 700;
          color: $color-primary;

          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

//</editor-fold>

.store {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  &__photo, &__intro, &__details {
    box-sizing: border-box;
  }

  &__photo {
    flex: 0 1 33%;
    border: 1px solid #ccc;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .photo {
      &__image {
        display: none;
      }
    }
  }

  &__intro {
    flex: 0 1 67%;
    padding: 20px 40px;
  }

  &__title {
    &, h2#{&}, h3#{&}, h4#{&} {
      color: $color-primary;
    }
  }

  &__logo, &__logo-image {
    max-width: 100%;
  }

  &__logo-image {
    max-width: 100%;
    height: auto;

    @include media-breakpoint-up(lg) {
      max-width: 80%;
    }

    @include media-breakpoint-up(xl) {
      max-width: 60%;
    }
  }

  &__title {
    margin-top: 20px;
  }

  &__open-status {
    font-size: 0.9rem;
    text-transform: uppercase;

    color: $color-success;

    margin: 10px 0;

    &--closed {
      color: $color-warning;
    }
  }

  &__day {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 0.9rem;

    .day {
      &__name {
        margin-right: 10px;
      }
    }
  }

  &__details {
    margin: 40px 0;

    flex: 1 1 100%;

    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  &__detail {
    flex: 1 1 100%;

    .detail {
      &__title {
        color: $color-primary;
        text-transform: none;
        font-family: $font-body;

        margin: 10px 0 5px 0;
      }
    }
  }

  &__button {
    display: block;
    width: 100%;
    margin: 5px auto;
  }

  &__socials {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    margin: 20px 0;
  }

  &__social {
    margin: 0 5px;
    font-size: 1.4rem;

    .social {
      &__link {
        display: block;
        padding: 5px 8px;
        color: $color-primary;

        &:hover {
          color: lighten($color-primary, 20%);
        }
      }
    }
  }
}

//<editor-fold desc="MAP">
.map { //
  width: 100%;
  height: 250px;

  &, &__container, &__canvas, * {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -moz-user-focus: ignore;
    user-focus: ignore;
  }

  &__container {
    width: 100%;
    height: 100%;
  }

  &__canvas {
    width: 100%;
    height: 100%;
  }
}

//</editor-fold>

.directory-map {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    display: block;
  }
}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
  }
}

.contact {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%; // force even distribution
  padding: 0 20px;
  margin: 20px 0 0 0;

  text-align: center;

  &__logo {
    box-sizing: border-box;
    width: 100%;
    height: auto;

    padding: 20px 10px;
  }

  &__details {
    margin: 20px 0 0 0;
  }

  @include media-breakpoint-up(md) {
    text-align: left;
    margin: 0;
  }
}

//<editor-fold desc="BLOG/LISTINGS">
.load-more {
  text-align: center;
  margin: 20px 0 40px;

  &__button::after {
    content: "+";
    margin-left: 10px;
  }
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;

  &__link {
    display: flex;
    justify-content: center;
    align-items: stretch;

    padding: 16px 24px;
    font-weight: 700;
    text-transform: uppercase;

    &, &:visited, &:active, &:focus {
      &, &:hover {
        color: #fff;
      }
    }

    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: $color-secondary;
    }
  }

  &__item {
    margin-right: 10px;

    flex: 0 1 100%;

    &--here {
      .nav__link {
        background-color: $color-secondary;
      }
    }

    @include media-breakpoint-up(md) {
      flex: auto;
    }
  }

  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
  }
}

//</editor-fold>

//<editor-fold desc="HOME / FRONT PAGE">
.feature {
  position: relative;
  background-color: $color-primary;
  color: $color-neutral-light;

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    flex-wrap: wrap;
  }

  &__info, &__logo {
    position: relative;
    z-index: 50;
    flex: 1 1 100%;
    box-sizing: border-box;
    padding: 30px;
  }

  &__info {
    background-color: $color-primary;

    @include media-breakpoint-up(md) {
      flex: 0 1 70%;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: 40%;
    }
  }

  &__logo {
    background-color: rgba($color-tertiary, 0.72);

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    img {
      max-width: 100%;
      height: auto;

      @include media-breakpoint-up(lg) {
        max-width: 80%;
      }
    }

    @include media-breakpoint-up(md) {
      flex: 0 1 30%;
    }

    @include media-breakpoint-up(md) {
      flex-basis: 20%;
    }
  }

  &__title {
    text-align: left;
    font-weight: normal;
    color: $color-secondary;

    &::after {
      display: none;
    }
  }

  &__image {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include media-breakpoint-up(md) {
      left: 40%;
    }
  }

  &::before {
    @include media-breakpoint-up(md) {
      content: "";
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      transform: translateX(-60%);

      background-color: $color-primary;
    }
  }
}

body.home {
  h2, .headline {
    position: relative;

    text-align: center;
    color: $color-primary;

    padding-bottom: 15px;

    &::after {
      content: "";
      display: block;
      height: 3px;
      min-width: 100px;
      width: 10%;

      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translateX(-50%);

      background-color: $color-tertiary;
    }
  }
}

.home-footer {
  &__title {
    .first {
      color: #fff;
    }
  }

  &__subtitle {
    position: relative;
    z-index: 10;
    text-transform: none;
    font-weight: normal;
    font-style: italic;

    color: $color-primary;

    &::after {
      content: "";
      position: absolute;
      z-index: 0; //
      top: 50%;
      left: 30%;
      width: 40%;
      height: 1px;

      background-color: $color-primary;

      transform: translateY(-50%);
    }
  }

  &__subtitle-wrapper {
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 5px 10px;
    background-color: $color-secondary;
  }
}

.featured-stores {
  &__title {
    body.home & {
      &, &.headline {
        &::after {
          background-color: $color-secondary;
        }
      }
    }
  }
}
//</editor-fold>

.post-preview {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  padding: 20px 0;
  border-bottom: 1px solid #ccc;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;

  &:hover {
    .image__cover {
      transform: scale(1.2) rotateZ(2deg);
    }
  }

  &__image, &__content {
    position: relative;
    flex: 1 1 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0;

    @include media-breakpoint-up(lg) {
      flex: 0 1 100%;
    }
  }

  &__image {
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      flex: 0 1 40%;
    }
  }

  &__cover, &__link {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__cover {
    -webkit-transition: transform 2s;
    -moz-transition: transform 2s;
    -ms-transition: transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
  }

  &__link {
    z-index: 20;
  }

  &__content {
    @include media-breakpoint-up(lg) {
      flex: 0 1 60%;
    }
  }

  &__title {
    margin: 0 0 5px 0;
    padding: 0;

    &, a {
      color: $color-primary;

      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -ms-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s;

      &:hover {
        text-decoration: none;
        color: $color-tertiary;
      }
    }
  }

  &__read-more-link {
    &, &:active, &:visited {
      font-weight: 700;
      color: $color-primary;
      text-transform: uppercase;

      &::after {
        content: "+";
        margin-left: 10px;
      }

      &:hover {
        text-decoration: none;
        color: $color-tertiary;
      }
    }
  }

  &__date {
    margin: 0 0 20px 0;
    color: $color-secondary;
    text-transform: none;
  }

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
  }
}

.post {
  padding: 40px 0;

  &__date {
    text-align: center;
  }
}