.wp-admin {
  //.wpc_logo {
  //  height:80px;
  //  width:50%;
  //
  //  background-image:url('images/lc-horizontal.jpg');
  //  background-image:url('images/lc-horizontal.svg');
  //  background-repeat:no-repeat;
  //  background-size:contain;
  //}
  //
  //#wpc_logo_customize {
  //  opacity:0;
  //  display:none !important;
  //}
  //
  //.wpc_banners {
  //  a {
  //    display:none;
  //  }
  //}
  //
  //.toplevel_page_wpclients {
  //  .wp-menu-name {
  //    position:relative;
  //    color:rgba(0,0,0,0);
  //    font-size:1px;
  //
  //    &::before {
  //      color:#fff;
  //      font-size:14px;
  //      content: "Client Portal";
  //    }
  //  }
  //}
}